/build/
/*.bin
/*.elf
/*.map

*.o
*.d
*.a
*.ld

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

/project_description.json
/flash_project_args.json
/sdkconfig.old
/sdkconfig.defaults

.vscode/

*.log
*.pyc
__pycache__/
*.tmp
*.bak
*.swp

.env/
.venv/
venv/

.DS_Store